<a href="/"><img src="https://unhabitat.org/themes/custom/habitat/images/icons/covid-19-campaign-icon-black.png"
    height="100px"></a>
<nav>
<a href="/">Home</a>
<a href="/allCountries">All Countries</a>
<a href="/records">My Records</a>
</nav>

